footer.footer
  .container
    .footer__content
      .footer__logo.logo
        a(href="/").logo
          img(src="img/logo-footer.png", alt="COOLTECH").logo__img
          span.logo__text Интернет-магазин COOLTECH
      .rigth-footer-block
        .social
          +social('footer')
        +nav(['Планшеты', 'Мобильные телефоны', 'Мр3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника'],'menu_bottom','Мобильные телефоны','footer')
  .footer__copyright All rights reserved. 2015. no copy alowed
