include ../variables/_mobilephones
+product(mobiles)
.content__pagination.pagination
  a(href="#").pagination__link.pagination__link_prev
  a(href="#").pagination__link.pagination__link_one.pagination__link_active 1
  a(href="#").pagination__link.pagination__link_two 2
  a(href="#").pagination__link.pagination__link_three 3
  a(href="#").pagination__link.pagination__link_next